@import "@/utils/styles.scss";

.courseCard {
    @include defaultBoxShadow;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    border: 1px solid $ds-alt-dark;
    border-radius: 5px;
    height: 300px;
    background-color: $ds-alt-dark;
    min-width: 320px;
    font-family: 'Segoe UI';
    color: $ds-light
}

.course_img_container {
    height: 150px;
    overflow: hidden;
}

.course_img {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
	background-position: center;
    transition: transform 500ms;
    background-size: cover;
}

.courseCard:hover .course_img,
.courseCard:focus .course_img {
  transform: scale(1.2);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    flex: 1;
}

.title {
    @include formatTextOverflow;
    text-align: center;
    font-size: 20px;
    margin-bottom: 5px;
}

.info_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prices {

    .price_container {
        display: flex;
    }

    .sale_discount { 
        color: $ds-orange
    }

    .price {
        font-size: 26px;  
    }

    .discounted {
        text-decoration: line-through;
        opacity: 0.5;
        margin-right: 10px;
    }
}

.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .courseCard {
		min-width: 300px;
	}
}

@media screen and (max-width: 400px) {
    .content {
        padding: 10px
    }

    .title {
        font-size: 18px;
    }
    
    .prices {
        .discounted {
            font-size: 14px;
        }

        .price {
            font-size: 22px;  
        }
    }
}