.login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url("../../../../assets/images/login/bg-login.webp");
    background-size: cover;
    background-position: center;
}