@import "@/utils/styles.scss";

.loading {
    @include flexCentered;
    color: $ds-light;
    background-color: $ds-main-dark;
    flex: 1;
}

.dsHome {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    padding: 30px 70px;
    background-color: $ds-main-dark;
    color: $ds-light
}

.titles {

    .main {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .subtitle {
        font-size: 20px;
    }

    .line {
        width: 100%;
        border: 1px solid $ds-alt-dark;
        margin: 10px 0;
    }
}

.emphasis {
    color: $ds-yellow
}

.courses_container {
    overflow-y: scroll;
    flex: 1;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.current_courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
	column-gap: 20px;
    row-gap: 20px;
	grid-template-rows: auto;
}

@media screen and (max-width: 1650px) {
	.current_courses {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 1080px) {
    .dsHome {
        padding: 30px 20px
    }

	.current_courses {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 800px) {
	.current_courses {
		grid-template-columns: repeat(1, 1fr);
	}
}